body{
    margin: 0%;
    padding: 0;
    box-sizing: border-box
}
.fhome{
    background-image: url(https://i.pinimg.com/736x/8e/23/c9/8e23c953c6bede3d057338d59079e60a.jpg);
    height: 100vh;
}
header{
    background-color: rgba(255, 255, 255, 0);
    height: 15%;
    display: flex;
    justify-content: center;
}
header nav div .logo1 {
    width: 230px;
    height: 100px;
}
.letras{
    background-color: #817ffe00;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.hijo{
    background-color: #5a828a;
    padding: 15px 30px;
    border-radius: 15px;
    border: 1px solid white;
    margin: 50px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
}


header nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.tapa{
    display: block;
    height: 50px;
    margin-top: 80px;
    margin-right: 50px;
    margin-left: 710px;
}
@media (max-width:900px){
    .logo1{
        display: none;
    }
    .letras{
        margin: 15px;
    }
}
@media (max-width: 1135px){
    .hijo{
        margin: auto;
        margin-top: 40px;
    }
}


/* fechas */

.fechas{
    display: block;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
}
p{
    margin: 0 0 2rem 0;
    display: flex;
    flex-direction: column;
}
strong{
    font-weight: 700;
    padding: 10px;
    color: aliceblue;
}
span{
    padding: 10px;
    color: antiquewhite;
}
a{
    text-decoration: none;
    background: transparent;
    background-color: #5a828a;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 10px 40px;
    font-weight: 400;
    border: 1px solid rgb(255, 255, 255);
    margin: 0.5rem auto;
}
#logog{
    width: 1500px;
    height: 450px;
    bottom: 600px;
    margin-left: 220px;
}
.rec{
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    object-fit: cover;
    min-height: 100%;
}
@media (max-width:990px) {
    #logog{
        display: none
    }
}
@media (max-width:1500px) {
    #logog{
        display: none
    }
}

/* contacto */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');

.desen{
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/ro-dl-dsp-rgb-ntxt-1-66343d25ab48f.jpg?crop=1xw:0.5625xh;center,top&resize=1200:*);
    width: 100%;
    height: 100vh;
    position: relative;
    background-position: center;
    z-index: -1;
    object-fit: cover;
    min-height: 100%;
    backdrop-filter: blur(0.5rem);
}
.f2{
    height: 600px;
    margin-top: 400 ;
    margin-left: 00px ;
    margin-right: -300px ;
    margin: 0;
    padding: 0;
    border: 0;
}
footer{
    background-color: black;
    padding: 50px 40px;
    color: turquoise;
}
.pregunta{
    display: flex;
    background-color: transparent;
    height: 700px;
    width: 900px;
    box-sizing: 0 0 20px;
    margin: auto;
    margin-top: 50px;
    border-radius: 25px;
}
.form{
    padding:30px 80px;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.form h1{
    font-size: 45px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin-bottom: 25px
}
.form p{
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin-bottom: 25px;
    font-weight: 700px;
}
label{
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
}
.box{
    border: 0;
    background-color: rgba(255, 255, 255, 0.664);
    border-radius: 25px;
    padding: 15px;
    margin-bottom: 25px;
    outline: none;
    border: 1px solid black;
}
.submit{
    background-color: #817ffe;
    border: 0;
    padding: 15px;
    color: wheat;
    font-size: 16px;
    border-radius: 25px;
    width: 200px;
    margin-top: 25px;
    box-shadow: 0 0 25px rgba(201, 199, 253, 0.5);
}
.info{
    padding: 50px;
    display: flex;
    width: 400%;
}

@media (max-width:990px) {
    .pregunta{
        width: 350px;
        height: 800px; 
        margin-top: 50px;
    }
    .info{
        display: none;
    }
    .form{
        width: 100%;
        padding: 30px;
    } 
}
  

/* music */

.tm{
    display: flex;
    justify-content: center ;
    align-items: center;
    color: rgb(0, 0, 0);
}

.principal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.totapas{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
 body main div{
    span{
        color: black;
    }
    strong{
        color: black;
    }
    p{
        margin: 0 0 2rem 0;
    }
    strong{
        font-weight: 700;
        color: rgb(0, 0, 0);

    }
    
 }
 .repo{
    display: flex;
    justify-content: center ;
    align-items: center;
 }
 .tt{
    padding: 0;
    margin: 0px;
    height: 300px;
 }
 .t1{
    padding: 0px;
    margin: 100px;
    height: 500px;
 }
 .musicbody{
    background-color: #f0c5e9;
 }

 @media (max-width:990px){
    .totapas{
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .principal{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .repo{
        display: flex;
        justify-content: center;
        align-items: center;
    }

 }

 /* redes */

.bodyr{
    min-height: 100vh;
    width: 100%;
    background-color: #817ffe;
}

.contenedor .botones{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 10px black;
    transition: all .3s ease-out;
}
.contenedor .botones:hover{
    width: 200px;
}
 .contenedor .botones .iconos{
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    text-align: center;
 }

.contenedor .botones i{
    font-size:  25px;
    line-height: 60px;
}
.contenedor .botones span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    color: black;
}
.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}
.r1{
    display: flex;
    justify-content: center ;
    align-items: center;
}